.container,
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0 0 18vh 1.25rem;
  width: calc(100% - 1.25rem);
  background-color: #ffe8dc;
  padding-bottom: 2rem;
}

.projectContainer {
  margin-top: 0.5rem;
}

.switchButtonsContainer {
  margin-bottom: -1rem;
}

.switchButton {
  padding: 0.3rem 0;
  border: solid 2px #ffcdb3;
  outline: none;
  transition: 1s;
  color: #b3b3b3;
  text-decoration: none;
  text-align: center;
  background-color: transparent;
}

.switchButton:active {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #ffd5c0;
  transition: 0.2s;
}

.switchButton:first-of-type {
  border-radius: 10px 0 0 10px;
  border-right-width: 1px;
}

.switchButton:last-of-type {
  border-radius: 0 10px 10px 0;
  border-left-width: 1px;
}

.switchButtonActive {
  background-color: #ffd5c0;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 0.5rem 0 2rem 0;
}

.projectDescription,
.listText {
  font-size: 1.125rem;
  word-spacing: 5px;
}

.listText {
  margin-bottom: 0.125rem;
}

.verticalHr {
  width: 2px;
  height: 10rem;
  margin: 2rem 1rem;
  border: 0;
  background-color: #ffffff;
}

.techStackContainer {
  display: flex;
  width: 100%;
}

.techStackList {
  width: 50%;
  list-style: none;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.subTitle {
  font-size: 1.5rem;
  margin: 1rem 0 0.25rem 0;
}

.imageContainer {
  position: relative;
}

.imageButton {
  position: absolute;
  top: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 100%;
  font-size: 1.5rem;
  opacity: 0.3;
  transition: 0.3s;
}

.imageButton:active {
  background-color: #f2f2f2;
  opacity: 1;
}

.imageButton:nth-of-type(1) {
  left: 0;
}

.imageButton:nth-of-type(2) {
  right: 0;
}

.upperRightHighlight,
.lowerLeftHighlight {
  position: absolute;
  border: #fff solid;
  width: 3rem;
  height: 3rem;
}

.upperRightHighlight {
  top: -1rem;
  right: -1rem;
  border-width: 3px 3px 0 0;
}

.lowerLeftHighlight {
  bottom: -1rem;
  left: -1rem;
  border-width: 0 0 3px 3px;
}

.image {
  width: 79vw;
  height: 46vw;
  border-radius: 12px 0 12px 0;
}

.shortHorizontalHr,
.horizontalHr {
  width: 90%;
  margin: 3rem 0;
  border: 0;
  background-color: #ffffff;
  height: 2px;
}

.shortHorizontalHr {
  width: 75%;
  margin: 2rem 0;
}

@media only screen and (min-width: 600px) {
  .container {
    margin-bottom: 16vh;
    margin-left: calc((100% - 65%) / 2);
    width: calc(100% - (100% - 65%) / 2);
  }

  .switchButton {
    min-width: 4.75rem;
    font-size: 1rem;
  }

  .switchButton:hover {
    color: #ffffff;
    border: solid 2px #ffffff;
    background-color: #ffd5c0;
    transition: 0.6s;
  }

  .switchButton:active {
    background-color: #ffbb99;
    transition: 0.3s;
  }

  .descriptionContainer {
    width: 75%;
  }

  .imageContainer {
    margin: 2rem 0;
  }

  .imageButton {
    top: 42%;
    width: 3rem;
    height: 3rem;
    font-size: 3rem;
  }

  .imageButton:hover {
    background-color: #f2f2f2;
    opacity: 0.5;
  }

  .imageButton:active {
    background-color: #f2f2f2;
    opacity: 1;
  }

  .imageButton:nth-of-type(1) {
    left: 0.5rem;
  }

  .imageButton:nth-of-type(2) {
    right: 0.5rem;
  }

  .verticalHr {
    margin: 2rem 3rem;
  }

  .image {
    width: 56vw;
    height: 31vw;
    border-radius: 16px 0 16px 0;
  }

  .upperRightHighlight,
  .lowerLeftHighlight {
    width: 5rem;
    height: 5rem;
  }

  .upperRightHighlight {
    top: -2vw;
    right: -2vw;
    border-width: 0.2rem 0.2rem 0 0;
  }

  .lowerLeftHighlight {
    bottom: -2vw;
    left: -2vw;
    border-width: 0 0 0.2rem 0.2rem;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    margin-left: calc((100% - 1024px) / 2);
    width: calc(100% - (100% - 1024px) / 2);
  }
}
