.container {
  width: 100%;
  margin-bottom: 18vh;
}

.skillsContainer {
  background-color: #ffe8dc;
}

@media only screen and (min-width: 600px) {
  .container {
    margin-bottom: 16vh;
  }
  .skillsContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: solid 2px #ffffff;
  }
}
