.desktopImageContentContainer,
.mobileImageContentContainer,
.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}

.projectContainer {
  margin: 0;
}

.switchButtonsContainer {
  position: relative;
  margin-top: 0.5rem;
}

.buttonPosition {
  position: absolute;
  top: 0;
  left: -3.75rem;
}

.name {
  font-size: 2rem;
  background-color: #ffe8dc;
  margin: 0 0.5rem;
}

.switchButton {
  min-width: 4rem;
  padding: 0.3rem 0;
  border: solid 2px #ffcdb3;
  outline: none;
  color: #b3b3b3;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}

.switchButton:nth-of-type(2) {
  border-radius: 10px 0 0 10px;
  border-right-width: 1px;
}

.switchButton:last-of-type {
  border-radius: 0 10px 10px 0;
  border-left-width: 1px;
}

.switchButtonActive {
  background-color: #ffd5c0;
}

.verticalHr {
  width: 2px;
  height: 8rem;
  margin: 1.5rem 0;
  border: none;
  background-color: #ffffff;
}

.bottomDescriptionContainer,
.sideDescriptionContainer {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nameLine {
  border: none;
  height: 2px;
  width: 2rem;
  background-color: #000000;
}

.projectSectionTitle {
  max-width: 11rem;
  text-align: center;
  font-size: 1.85rem;
  margin: 0 0.4rem;
  margin-bottom: 0.5rem;
  background-color: #ffe8dc;
}

.projectDescription {
  font-size: 1.125rem;
  word-spacing: 5px;
}

.singleTechStackContainer,
.techStackContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0.75rem 0 1rem 0;
}

.singleTechStackContainer {
  width: fit-content;
}

.techStackList {
  width: fit-content;
  list-style: none;
}

.techStackList:only-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techStackList:nth-of-type(2) {
  padding-left: 1rem;
}

.listText {
  margin-bottom: 0.125rem;
}

.techStackTitle {
  font-size: 1.625rem;
  margin-bottom: 0.25rem;
}

@media only screen and (min-width: 600px) {
  .mobileImageContentContainer {
    justify-content: center;
    flex-direction: row-reverse;
    margin: 1.75rem 0 4rem 0;
  }

  .buttonPosition {
    left: -4.75rem;
  }

  .name {
    font-size: 2.25rem;
  }

  .switchButton {
    min-width: 4.75rem;
    font-size: 1rem;
  }

  .bottomDescriptionContainer {
    width: 70%;
    margin: 2rem 0;
  }

  .sideDescriptionContainer {
    width: 40%;
    margin-right: 4rem;
  }

  .projectDescription {
    font-size: 1.25rem;
  }

  .nameLine {
    width: 3rem;
  }

  .projectSectionTitle {
    max-width: 100%;
  }

  .techStackContainer {
    width: 50%;
    margin: 0 0 1rem 0;
  }

  .techStackList {
    margin-top: 0.25rem;
  }

  .verticalHr {
    margin: 2rem 1rem;
  }

  .listText {
    font-size: 1.1rem;
  }
}
