.projectContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.buttonsContainer {
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.customButton {
  margin-right: 0.5rem;
}

.customButton:nth-of-type(1) {
  width: 3rem;
}

.customButton:nth-of-type(4) {
  width: 4.75rem;
  margin: 0 0 0 0.5rem;
}

.projectName {
  font-size: 1.65rem;
  background-color: #ffe8dc;
  margin: 0 0.5rem;
}

.switchButton {
  min-width: 4rem;
  padding: 0.3rem 0.5rem;
  border: solid 2px #ffcdb3;
  outline: none;
  color: #b3b3b3;
  text-decoration: none;
  background-color: transparent;
  transition: 0.3s;
}

.switchButton.active {
  background-color: #ffd5c0;
}

.switchButton:nth-of-type(2) {
  border-radius: 10px 0 0 10px;
  border-right-width: 1px;
}

.switchButton:nth-of-type(3) {
  border-radius: 0 10px 10px 0;
  border-left-width: 1px;
}

.verticalHr {
  width: 2px;
  height: 8rem;
  margin: 1.5rem 0;
  border: none;
  background-color: #ffffff;
}

.descriptionContainer {
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  white-space: pre-line;
}

.nameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.nameLine {
  border: none;
  height: 2px;
  width: 2rem;
  background-color: #000000;
}

.projectSectionTitle {
  max-width: 11rem;
  text-align: center;
  font-size: 1.65rem;
  margin: 0 0.4rem;
  margin-bottom: 0.5rem;
  background-color: #ffe8dc;
}

.projectDescription {
  font-size: 1.125rem;
  word-spacing: 5px;
}

.singleTechStackContainer,
.techStackContainer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 0 0.75rem 0;
}

.singleTechStackContainer {
  width: fit-content;
}

.techStackList {
  width: fit-content;
  list-style: none;
}

.techStackList:only-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.techStackList:nth-of-type(2) {
  padding-left: 1rem;
}

.listText {
  margin-bottom: 0.125rem;
}

.techStackTitle {
  font-size: 1.625rem;
  margin-bottom: 0.25rem;
}

@media only screen and (min-width: 600px) {
  .projectName {
    font-size: 1.95rem;
  }

  .buttonsContainer {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }

  .switchButton {
    font-size: 1.1rem;
  }

  .customButton {
    margin-right: 1rem;
  }

  .customButton:nth-of-type(1) {
    width: 4rem;
  }

  .customButton:nth-of-type(4) {
    width: 6rem;
    margin: 0 0 0 1rem;
  }

  .descriptionContainer {
    width: 70%;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
  }

  .projectDescription {
    font-size: 1.25rem;
  }

  .nameLine {
    width: 3rem;
  }

  .projectSectionTitle {
    max-width: 100%;
    font-size: 1.8rem;
  }

  .techStackContainer {
    width: 50%;
    margin: 0 0 1.25rem 0;
  }

  .techStackList {
    margin-top: 0.25rem;
  }

  .verticalHr {
    margin: 2rem 1rem;
  }

  .listText {
    font-size: 1.1rem;
  }
}
