.container {
  margin: 9vh 0 0 1.25rem;
  width: calc(100% - 1.25rem);
  background-color: #ffe8dc;
  padding: 2rem 0;
}

.contentContainer {
  width: fit-content;
  margin: 0 1.25rem;
  margin-top: 2rem;
  position: relative;
}

.image {
  height: 27rem;
  width: 18rem;
}

.name {
  width: 40vw;
  font-size: 2.5rem;
  margin-left: -1rem;
}

.imageText {
  margin-bottom: 3rem;
  font-weight: 600;
  color: #b3b3b3;
}

.description {
  font-size: 1.1rem;
  margin-bottom: 0.75rem;
}

@media only screen and (min-width: 600px) {
  .container {
    margin: 5.25rem 0 0 0;
    margin-left: calc((100% - 65%) / 2);
    width: calc(100% - (100% - 65%) / 2);
  }
  .contentContainer {
    display: flex;
    align-items: flex-end;
    margin-left: 5vw;
    padding-bottom: 5rem;
  }
  .image {
    height: 50vw;
    width: 31vw;
  }
  .name {
    width: fit-content;
    font-size: 3.5rem;
    margin-left: -5rem;
    padding: 4rem 0;
  }
  .imageText {
    padding: 0;
    margin: 0;
    font-size: 1.75vw;
    position: absolute;
    top: 50vw;
    left: 0.25rem;
  }
  .subContentContainer {
    margin: 1.5vw;
  }
  .description {
    width: 35vw;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1100px) {
  .container {
    margin-left: calc((100% - 1024px) / 2);
    width: calc(100% - (100% - 1024px) / 2);
  }
  .image {
    height: 40rem;
    width: 26rem;
  }
  .subContentContainer {
    margin: 0 0 2rem 3rem;
  }
  .description {
    width: 35rem;
  }
  .imageText {
    padding: 0;
    margin: 0;
    transform: rotate(90deg);
    font-size: 1.25rem;
    position: absolute;
    top: 5rem;
    left: 21.5rem;
  }
}
