.navBarSectionText {
  color: #b3b3b3;
  text-decoration: none;
  transition: 0.5s;
}

.navBarSectionText:hover {
  color: #000000;
}

@media only screen and (max-width: 599px) {
  .navIcon {
    background: none;
    border: none;
    outline: none;
    position: fixed;
    top: 0;
    right: 0;
    margin: 0.5rem;
    z-index: 3;
  }
  .line {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: 0.4s;
  }
  .line.closed {
    background-color: #000000;
  }
  .line.open {
    background-color: #b3b3b3;
  }
  .line.open:nth-of-type(2) {
    width: 17px;
  }
  .overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 85vw;
    background-color: #ffe8dc;
    opacity: 0.91;
    transition: 0.4s;
    z-index: 2;
    overflow: hidden;
  }
  .overlay.open {
    height: 80vh;
  }
  .overlay.closed {
    height: 0;
  }
  .overlayMenu {
    list-style: none;
    position: absolute;
    top: 15%;
    right: 5%;
    text-align: end;
  }
  .navBarSectionText {
    margin: 1rem;
  }
  .navBar {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .navBar {
    display: block;
    height: 11vh;
    border-bottom: solid 2px #ffffff;
    position: fixed;
    top: 0;
    transition: 0.4s;
  }
  .navBar.active {
    height: 6vh;
    background-color: #ffdecc;
  }
  .list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100vw;
    height: inherit;
    list-style: none;
  }
  .navBarSectionText {
    margin-right: 4rem;
  }
  li:last-of-type {
    margin-right: 15vw;
  }
  .navIcon {
    display: none;
  }
  .overlay {
    display: none;
  }
}