.imageContainer {
  margin-top: 1rem;
  position: relative;
  margin-bottom: 0.75rem;
}

.demoButton {
  padding: 0.2rem 0.5rem;
  outline: none;
  border: 2px solid #ffffff;
  border-radius: 8px;
  color: #ffffff;
  font-size: 1rem;
  background-color: #333333;
  opacity: 0.6;
  transition: 0.4s;
  text-decoration: none;
  user-select: none;
}

.demoButton:active {
  opacity: 1;
}

.overlayBackGround {
  display: none;
}

.imageArrowButton {
  display: flex;
  width: 2rem;
  height: 2rem;
  border-radius: 100%;
  opacity: 0.4;
  transition: 0.5s;
}

.emptyDummyButton {
  width: 2rem;
  height: 2rem;
}

.imageArrowButton:active {
  background-color: #e6e6e6;
  opacity: 1;
  transition: 0.2s;
}

.imageArrowButton:nth-of-type(2) {
  transform: rotate(180deg);
}

.arrowIcon {
  width: 90%;
}

.upperRightHighlight,
.lowerLeftHighlight,
.lowerRightHighlight {
  display: none;
}

.image,
.mobileImage {
  border: 1px solid #ffffff;
  border-radius: 12px;
  background-color: #ffffff;
}

.image {
  height: 20vh;
}

.mobileImage {
  height: 50vh;
}

.overlay {
  position: absolute;
  top: 0;
  left: 1.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 99%;
  width: 97%;
}

@media only screen and (min-width: 600px) {
  .imageContainer {
    margin-top: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .demoButton {
    background-color: #595959;
    font-size: 1.1rem;
    opacity: 0.15;
    cursor: pointer;
  }

  .demoButton:hover {
    background-color: #333333;
  }

  .demoButton:active {
    transform: scale(0.95);
    transition: 0.1s;
  }

  .overlayBackGround {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 99%;
    border-radius: 16px 0 16px 0;
    background-color: #bfbfbf;
    opacity: 0;
    transition: 0.4s;
  }

  .overlayBackGround .mobileImage {
    height: calc(99% + 1px);
    border-radius: 16px 0 0 16px;
  }

  .imageContainer:hover > .overlayBackGround {
    opacity: 0.15;
  }

  .overlay:hover > .demoButton {
    opacity: 0.9;
  }

  .imageArrowButton,
  .emptyDummyButton {
    width: 3rem;
    height: 3rem;
  }

  .imageArrowButton {
    transition: 0.5s;
  }

  .imageArrowButton:hover {
    background-color: #cccccc;
    opacity: 0.6;
    transition: 0.4s;
  }

  .imageArrowButton:active {
    opacity: 1;
    transition: 0.2s;
  }

  .image {
    height: 57.5vh;
    max-height: 28.75vw;
    border-radius: 16px 0 16px 0;
    border-width: 1px;
  }

  .mobileImage {
    height: 70vh;
    max-height: 35vw;
    border-radius: 16px 0 0 16px;
    border-width: 1px;
  }

  .upperRightHighlight,
  .lowerLeftHighlight,
  .lowerRightHighlight {
    display: block;
    position: absolute;
    border: #ffffff solid;
    min-width: 3rem;
    width: 5vw;
    min-height: 3rem;
    height: 5vw;
  }

  .upperRightHighlight {
    top: -15px;
    right: -15px;
    border-width: 3px 3px 0 0;
  }

  .lowerLeftHighlight {
    bottom: -12px;
    left: -15px;
    border-width: 0 0 3px 3px;
  }

  .lowerRightHighlight {
    bottom: -12px;
    right: -15px;
    left: auto;
    border-width: 0 3px 3px 0;
  }
}
