.container {
  width: calc(100% - 1.25rem);
  margin-bottom: 18vh;
  padding: 2.5rem 1.25rem;
  background-color: #ffe8dc;
}

.description {
  display: inline-block;
  font-size: 1rem;
  margin-top: 1rem;
}

.description:nth-of-type(1) {
  margin-top: 1.5rem;
}

.buttonContainer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 1.5rem;
}

@media only screen and (min-width: 600px) {
  .container {
    padding: 4rem 6vw;
    margin-bottom: 22vh;
    width: calc(100% - (100% - 1024px)/2);
  }
  .description {
    font-size: 1.3rem;
  }
  .description:nth-of-type(1) {
    margin-top: 1.5rem;
  }
  .buttonContainer {
    justify-content: center;
  }
  .breakLine {
    display: none;
  }
}